#hiddenBody {
}

#landingPage {
  text-align: center;
}

button {

}

input {
  text-align: center;
}

#userProfile {
  display: none;
  margin-top: 20px;
  background-color: gray;
  padding: 15px;
  text-align: center;
  border: 2px solid black;
  text-shadow: 0 0 5px black;
}

#error {
  display: none;
  margin-top: 20px;
  padding-bottom: 10px;
  background-color: gray;
  text-align: center;
  border: 2px solid black;
  color: white;
  text-shadow: 0 0 10px black;
}

#repoPanel {
  display: none;
  margin-top: 20px;
  background-color: gray;
  padding: 15px;
  color: white;
  text-shadow: 0 0 5px black;
  border: 2px solid black;
  margin-bottom: 100px;
}

#userName {
  color: white;
  font-size: 32px;
}
#profilePicture {
  width: 300px;
  border: 2px solid black;
  margin-bottom: 25px;
}
